<h2>Edit Movie</h2>
<form action="/movies/{{movie.id}}/edit" method="POST">
   <label>Title</label>
    <input type="text" name="title" value="{{movie.title}}" />

    <label>Genre</label>
    <input type="text" name="genre" value="{{movie.genre}}"/>

    <label>Plot</label>
    <input type="text" name="plot" value="{{movie.plot}}"/>

    <label>Cast</label>
    <select name="cast">
            {{#each celebrity}}
                {{#eq name ../movie.cast.name}}
                    <option value="{{name}}" selected>{{name}}</option>
                {{else}}
                    <option value="{{name}}">{{name}}</option>
                {{/eq}}
            {{/each}}
        </select>
    <button type="submit">Update</button>
</form>